* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #545050;
}
header {
  display: flex;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  letter-spacing: -1px;
  padding: 5px 0;
  margin-bottom: 2px;
}
#info {
  justify-self: center;
  font-family: cursive;
  font-size: large;
  color: #e6e8e6;
  line-height: 1.5;
}
#productsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 0 10px #e6e8e6;
  margin: 5px 0;
}
img {
  height: 240px;
}
.product {
  display: flex;
  flex-direction: column;
}
.details {
  display: flex;
  justify-content: space-between;
  background-color: #ced0ce;
  font-size: large;
  align-items: center;
  color: white;
  padding: 5px;
  font-weight: bold;
}

button {
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  background-color: #f32821;
  color: white;
  font-size: larger;
  padding: 3px 0;
  border: none;
}
button:hover {
  background-color: #8f1919;

  cursor: pointer;
}
#cartH {
  display: flex;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  letter-spacing: -1px;
  padding: 5px 0;
  margin-bottom: 2px;
}
